@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap');

*{
    color: #000;
    box-sizing: border-box;/*너비 높이 딱 맞게 설정*/
    outline: none;
    font-family: "Noto Sans KR", sans-serif; /*대체폰트*/
}

html{
    font-size: 13px;
    background: #f8f8f8;
}

/*스타일 초기화*/
body{
    margin: 0 auto;
    max-width: 720px;/*최대 최소너비*/
    min-width: 360px;
    background: #fff;
}

ul,ol,dl,dt,dd{
    margin: 0;
    padding: 0;
}

ul, ol{/*목록 점 없애기*/
  list-style-type: none;  
}
a {/*밑줄지우기*/
    text-decoration: none;
}

img{
    border: 0;
}

/* 공통 스타일 S */
.montserrat{
    /*대체폰트*/
    font-family: "Montserrat", sans-serif;

}

/*헤더 부분*/

.head1{
    padding: 18px 15px 13px;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    justify-content: space-between;
}

header i { /*headr 안에 i태그 아이콘들 크기 조정*/
    font-size: 2rem;
}

header .left .xi-bars{
    margin-right: 10px;
}
header .right .xi-cart-o{
    margin-left: 10px;
}

header .center-logo img{
    height: 34px;
    display: block;
}

/*두번째 헤더부분*/
h3{
    margin: 0;
    font-size: 1.53rem;
}

header .page-location{
    height: 50px;
    border-bottom: 1px solid #e6e6e6;
    text-align: center;
    display: flex; 
    padding: 0 15px;
}

header .back-icon{
    align-items: center;
    display: flex;
}
header .login-text {
    display: flex;
    justify-content: center;
    align-items: center; /* 수직 가운데 정렬을 위해 추가 */
    flex-grow: 1;/* 부모 요소에 맞게 확장되도록 설정 */
}

/*main 부분*/
main{
    background-color: #ededed;
}
h4{
    font-size: 1.3rem;
    font-weight: 700;
    margin:0 0 19px 0;
}
.login-main{
    padding: 30px 15px 40px;
    background-color: #ffffff;
    border-bottom: 0.8px solid #dfe1e5;
    ;
    margin-bottom: 10px;
}

.login-main div input{
    border: 1px solid #e5e5e5;
    width: 100%;
    height: 45px;
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 0 10px;
}

/* 메인 체크박스 */
.login-main .inp_chk input{
    width: 23px;
    height: 23px;
    border: 1px solid #e5e5e5;
    margin: -3px 5px 0 0;
}

.inp_chk label{
    font-size: 0.923rem; 
    margin-right: 15px;
    cursor: pointer;
}
.inp_chk {
    display: flex; /* 아이템을 가로로 정렬하기 위해 플렉스 박스로 설정 */  
}

/*로그인 버튼*/
.submit{
    margin-top: 25px;
}
.submit .login-btn{
    border: none;
    width: 100%;
    height: 45px;
    border-radius: 3px;
    background: #8769f0;
    font-size: 1.15rem;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
}

/*로그인 help*/
.login-help ul{
    display: flex;
    line-height: 1;
    justify-content: center;
    padding-top: 15px;
}

.login-help li {
    font-size: 0.923rem;
    color: #212121;
    position: relative;
}
.login-help li a {
    right: 0;
    top: 9px;
    padding-left: 15px;
    padding-right: 15px;
}
.login-help li:not(.last):before{
    width: 1px;
    height: 11px;
    display: block;
    content: '';
    background-color: #212121;
    position: absolute;
}

/*sns 간편 로그인*/

.sns-login{
    
    padding: 30px 15px 45px;
    margin-bottom: 10px;
    border-bottom: 0.8px solid #dfe1e5;
    ;
    background-color: #ffffff;
    
}
.sns-login .sns-logo{
    display: flex;
    justify-content: space-between;
}
.sns-login .sns-logo img{
    width: calc(100% - 10px);
    max-width: 230px;
    display: block;
}
.sns-login h4{
    margin-bottom: 20px;
    margin-top : 0;
}
/*비회원 주문조회*/
.non-members{
    background-color: #ffffff;
    padding: 30px 15px 45px;
}

.non-members h4{
    margin: 0 0 8px 0;
}
.non-members .sub-text{
    color: #8b8b8b;
    line-height: 1;
    margin-bottom: 15px;
}
.non-members input{
    width: 100%;
    display: block;
    border: 1px solid #e5e5e5;
    height: 45px;
    border-radius: 3px;
    padding: 0 10px;
    margin-bottom: 10px;
}

.order-search .order-sbtn{
    border: 1px solid #8769f0;
    width: 100%;
    height: 45px;
    border-radius: 3px;
    background: #ffffff;
    font-size: 1.15rem;
    color: #8769f0;
    font-weight: 700;
    cursor: pointer;
}

/*footer*/
footer{
    background-color: #f9f9f9;
    padding: 25px 0 80px;
    margin-top: 25px;
}
.foot-logo{
    margin-bottom: 12px;

}
.foot-logo img{
    width: 79px;
    display: block;
    margin: 0 auto;
}

footer .center-phone{
    border: 2px solid #2a2a2a;
    border-radius: 20px;
    text-align: center;
    display: block;
    height: 35px;
    line-height: 31px;
    font-size: 1.538rem;
    color: #2a2a2a;
    font-weight: 800;
    width: 190px;
    margin: 0 auto 7px;
}
footer .center-phone img{
    height: 16px;
    vertical-align: middle;
}

footer .bank-info{
    text-align: center;
    font-size: 0.923rem;
    color: #2a2a2a;
}
footer .bank-info span{
    font-size: 1rem;
    font-weight: 600;
}

footer .business-info{
    margin: 3px 0 8px;
    color: #878787;
    font-size: 0.923rem;
    font-weight: 600;
    text-align: center;
}
.business-info img{
    width: 15px;
    vertical-align: middle;
}

footer .links ul{
    display: flex;
    justify-content: center;
    line-height: 1;
}
footer .links li{
    position: relative;
}
footer .links a{
    font-size: 0.846rem;
    color: #878787;
    padding: 0 11px;
}
footer li a:not(.no-bar):before{
    top: 2px;
    width: 1px;
    height: 11px;
    display: block;
    content: '';
    background-color: #878787;
    position: absolute;
}


/*사이드 메뉴*/
.side-menu{
    position: fixed;
    bottom: 70px;
    right: 10px;
    z-index: 10;
}

.side-menu img{
    display: block;
    width: 50px;
    cursor: pointer;
    margin-top: 10px;
}

/*하단바*/
.bottom-menu {
    position: fixed;
    bottom: 0;
    z-index: 10;
    left: 0;
    background-color: #ffffff;
    display: flex;
    border-top: 1px solid #dfe1e5;
    width: 100%;
    height: 60px;
    padding: 9px 0;
    justify-content: space-around;
}

.bottom-menu button {
    background-color: #ffffff;
    height: 30px;
    width: 26px;
    border: 0;
    margin-top: 6px;
    padding: 0;
    cursor: pointer;
}

.bottom-menu button i {
    cursor: pointer;
    background-color: #ffffff;
    outline: none;
    height: 30px;
    width: 26px;
    font-size: 3rem;
}

.bottom-menu a div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-menu a .i1 img{
    margin: 0;
    width: 30px;
    cursor: pointer;
   
}
.bottom-menu .i2{
    margin: 0;
    width: 42px;
   
}
.bottom-menu a .i3{
    margin: 0;
    width: 42px;
   
}
.bottom-menu a .i4{
    margin: 0;
    width: 22px;
    
}

.bottom-menu a .txt {
    margin-top: 5px;  
    cursor: pointer;  
    text-align: center;
    font-size: 8px;
    color: #2d2f38;
}
